src/META-INF/pos.asmx.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SaldoTienda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaldoTiendaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaldoTiendaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerClientesVentas">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerClientesVentasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerClientesVentasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertFacturaPosiiVentas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertFacturaPosiiVentasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertFacturaPosiiVentasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerFacturasManualesSinCorte">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iddocumento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerFacturasManualesSinCorteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerFacturasManualesSinCorteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarCorteFacturaManualMySql">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarCorteFacturaManualMySqlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertarCorteFacturaManualMySqlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientePOS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientePOSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientePOSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResumenVenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResumenVentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResumenVentaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CuboCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CuboClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CuboClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LimpiarBD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LimpiarBDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LimpiarBDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreditoPersonal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreditoPersonalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreditoPersonalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarDatosNitYFactura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="json" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="IdGenerico" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarDatosNitYFacturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarDatosNitYFacturaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarClienteNuevo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nit" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarClienteNuevoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertarClienteNuevoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerUsuarios">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerUsuariosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MarcarHora">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MarcarHoraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MarcarHoraResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InformeEmpleador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fDel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fAl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InformeEmpleadorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InformeEmpleadorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarDepartamentos">
        <s:complexType />
      </s:element>
      <s:element name="ListarDepartamentosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarDepartamentosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarEmpleados">
        <s:complexType />
      </s:element>
      <s:element name="ListarEmpleadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarEmpleadosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarJefes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idDepartamento" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarJefesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarJefesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarRequisicion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarRequisicionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertarRequisicionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerLlamadas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fechaDe" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaA" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerLlamadasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerLlamadasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerTotalFacturaManual">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Tienda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerTotalFacturaManualResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerTotalFacturaManualResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PosVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PosVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PosVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarPOS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarPOSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActualizarPOSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CodigoArticuloPos">
        <s:complexType />
      </s:element>
      <s:element name="CodigoArticuloPosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CodigoArticuloPosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contingencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContingenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ContingenciaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarClientePos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarClientePosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertarClientePosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarTiempoCertificacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarTiempoCertificacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertarTiempoCertificacionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarAnticipos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarAnticiposResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertarAnticiposResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarOrdenesCafe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarOrdenesCafeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertarOrdenesCafeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarOrdenCafeGuarnicion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarOrdenCafeGuarnicionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertarOrdenCafeGuarnicionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaldoTiendaSoapIn">
    <wsdl:part name="parameters" element="tns:SaldoTienda" />
  </wsdl:message>
  <wsdl:message name="SaldoTiendaSoapOut">
    <wsdl:part name="parameters" element="tns:SaldoTiendaResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerClientesVentasSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerClientesVentas" />
  </wsdl:message>
  <wsdl:message name="ObtenerClientesVentasSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerClientesVentasResponse" />
  </wsdl:message>
  <wsdl:message name="InsertFacturaPosiiVentasSoapIn">
    <wsdl:part name="parameters" element="tns:InsertFacturaPosiiVentas" />
  </wsdl:message>
  <wsdl:message name="InsertFacturaPosiiVentasSoapOut">
    <wsdl:part name="parameters" element="tns:InsertFacturaPosiiVentasResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerFacturasManualesSinCorteSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerFacturasManualesSinCorte" />
  </wsdl:message>
  <wsdl:message name="ObtenerFacturasManualesSinCorteSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerFacturasManualesSinCorteResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarCorteFacturaManualMySqlSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarCorteFacturaManualMySql" />
  </wsdl:message>
  <wsdl:message name="InsertarCorteFacturaManualMySqlSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarCorteFacturaManualMySqlResponse" />
  </wsdl:message>
  <wsdl:message name="ClientePOSSoapIn">
    <wsdl:part name="parameters" element="tns:ClientePOS" />
  </wsdl:message>
  <wsdl:message name="ClientePOSSoapOut">
    <wsdl:part name="parameters" element="tns:ClientePOSResponse" />
  </wsdl:message>
  <wsdl:message name="ResumenVentaSoapIn">
    <wsdl:part name="parameters" element="tns:ResumenVenta" />
  </wsdl:message>
  <wsdl:message name="ResumenVentaSoapOut">
    <wsdl:part name="parameters" element="tns:ResumenVentaResponse" />
  </wsdl:message>
  <wsdl:message name="CuboClienteSoapIn">
    <wsdl:part name="parameters" element="tns:CuboCliente" />
  </wsdl:message>
  <wsdl:message name="CuboClienteSoapOut">
    <wsdl:part name="parameters" element="tns:CuboClienteResponse" />
  </wsdl:message>
  <wsdl:message name="LimpiarBDSoapIn">
    <wsdl:part name="parameters" element="tns:LimpiarBD" />
  </wsdl:message>
  <wsdl:message name="LimpiarBDSoapOut">
    <wsdl:part name="parameters" element="tns:LimpiarBDResponse" />
  </wsdl:message>
  <wsdl:message name="CreditoPersonalSoapIn">
    <wsdl:part name="parameters" element="tns:CreditoPersonal" />
  </wsdl:message>
  <wsdl:message name="CreditoPersonalSoapOut">
    <wsdl:part name="parameters" element="tns:CreditoPersonalResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarDatosNitYFacturaSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarDatosNitYFactura" />
  </wsdl:message>
  <wsdl:message name="BuscarDatosNitYFacturaSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarDatosNitYFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarClienteNuevoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarClienteNuevo" />
  </wsdl:message>
  <wsdl:message name="InsertarClienteNuevoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarClienteNuevoResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarios" />
  </wsdl:message>
  <wsdl:message name="ObtenerUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="MarcarHoraSoapIn">
    <wsdl:part name="parameters" element="tns:MarcarHora" />
  </wsdl:message>
  <wsdl:message name="MarcarHoraSoapOut">
    <wsdl:part name="parameters" element="tns:MarcarHoraResponse" />
  </wsdl:message>
  <wsdl:message name="InformeEmpleadorSoapIn">
    <wsdl:part name="parameters" element="tns:InformeEmpleador" />
  </wsdl:message>
  <wsdl:message name="InformeEmpleadorSoapOut">
    <wsdl:part name="parameters" element="tns:InformeEmpleadorResponse" />
  </wsdl:message>
  <wsdl:message name="ListarDepartamentosSoapIn">
    <wsdl:part name="parameters" element="tns:ListarDepartamentos" />
  </wsdl:message>
  <wsdl:message name="ListarDepartamentosSoapOut">
    <wsdl:part name="parameters" element="tns:ListarDepartamentosResponse" />
  </wsdl:message>
  <wsdl:message name="ListarEmpleadosSoapIn">
    <wsdl:part name="parameters" element="tns:ListarEmpleados" />
  </wsdl:message>
  <wsdl:message name="ListarEmpleadosSoapOut">
    <wsdl:part name="parameters" element="tns:ListarEmpleadosResponse" />
  </wsdl:message>
  <wsdl:message name="ListarJefesSoapIn">
    <wsdl:part name="parameters" element="tns:ListarJefes" />
  </wsdl:message>
  <wsdl:message name="ListarJefesSoapOut">
    <wsdl:part name="parameters" element="tns:ListarJefesResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarRequisicionSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarRequisicion" />
  </wsdl:message>
  <wsdl:message name="InsertarRequisicionSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarRequisicionResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerLlamadasSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerLlamadas" />
  </wsdl:message>
  <wsdl:message name="ObtenerLlamadasSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerLlamadasResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerTotalFacturaManualSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerTotalFacturaManual" />
  </wsdl:message>
  <wsdl:message name="ObtenerTotalFacturaManualSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerTotalFacturaManualResponse" />
  </wsdl:message>
  <wsdl:message name="PosVersionSoapIn">
    <wsdl:part name="parameters" element="tns:PosVersion" />
  </wsdl:message>
  <wsdl:message name="PosVersionSoapOut">
    <wsdl:part name="parameters" element="tns:PosVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarPOSSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarPOS" />
  </wsdl:message>
  <wsdl:message name="ActualizarPOSSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarPOSResponse" />
  </wsdl:message>
  <wsdl:message name="CodigoArticuloPosSoapIn">
    <wsdl:part name="parameters" element="tns:CodigoArticuloPos" />
  </wsdl:message>
  <wsdl:message name="CodigoArticuloPosSoapOut">
    <wsdl:part name="parameters" element="tns:CodigoArticuloPosResponse" />
  </wsdl:message>
  <wsdl:message name="ContingenciaSoapIn">
    <wsdl:part name="parameters" element="tns:Contingencia" />
  </wsdl:message>
  <wsdl:message name="ContingenciaSoapOut">
    <wsdl:part name="parameters" element="tns:ContingenciaResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarClientePosSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarClientePos" />
  </wsdl:message>
  <wsdl:message name="InsertarClientePosSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarClientePosResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarTiempoCertificacionSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarTiempoCertificacion" />
  </wsdl:message>
  <wsdl:message name="InsertarTiempoCertificacionSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarTiempoCertificacionResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarAnticiposSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarAnticipos" />
  </wsdl:message>
  <wsdl:message name="InsertarAnticiposSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarAnticiposResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarOrdenesCafeSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarOrdenesCafe" />
  </wsdl:message>
  <wsdl:message name="InsertarOrdenesCafeSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarOrdenesCafeResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarOrdenCafeGuarnicionSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarOrdenCafeGuarnicion" />
  </wsdl:message>
  <wsdl:message name="InsertarOrdenCafeGuarnicionSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarOrdenCafeGuarnicionResponse" />
  </wsdl:message>
  <wsdl:portType name="PosSoap">
    <wsdl:operation name="SaldoTienda">
      <wsdl:input message="tns:SaldoTiendaSoapIn" />
      <wsdl:output message="tns:SaldoTiendaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerClientesVentas">
      <wsdl:input message="tns:ObtenerClientesVentasSoapIn" />
      <wsdl:output message="tns:ObtenerClientesVentasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertFacturaPosiiVentas">
      <wsdl:input message="tns:InsertFacturaPosiiVentasSoapIn" />
      <wsdl:output message="tns:InsertFacturaPosiiVentasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerFacturasManualesSinCorte">
      <wsdl:input message="tns:ObtenerFacturasManualesSinCorteSoapIn" />
      <wsdl:output message="tns:ObtenerFacturasManualesSinCorteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarCorteFacturaManualMySql">
      <wsdl:input message="tns:InsertarCorteFacturaManualMySqlSoapIn" />
      <wsdl:output message="tns:InsertarCorteFacturaManualMySqlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientePOS">
      <wsdl:input message="tns:ClientePOSSoapIn" />
      <wsdl:output message="tns:ClientePOSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResumenVenta">
      <wsdl:input message="tns:ResumenVentaSoapIn" />
      <wsdl:output message="tns:ResumenVentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CuboCliente">
      <wsdl:input message="tns:CuboClienteSoapIn" />
      <wsdl:output message="tns:CuboClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LimpiarBD">
      <wsdl:input message="tns:LimpiarBDSoapIn" />
      <wsdl:output message="tns:LimpiarBDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreditoPersonal">
      <wsdl:input message="tns:CreditoPersonalSoapIn" />
      <wsdl:output message="tns:CreditoPersonalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarDatosNitYFactura">
      <wsdl:input message="tns:BuscarDatosNitYFacturaSoapIn" />
      <wsdl:output message="tns:BuscarDatosNitYFacturaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarClienteNuevo">
      <wsdl:input message="tns:InsertarClienteNuevoSoapIn" />
      <wsdl:output message="tns:InsertarClienteNuevoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarios">
      <wsdl:input message="tns:ObtenerUsuariosSoapIn" />
      <wsdl:output message="tns:ObtenerUsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MarcarHora">
      <wsdl:input message="tns:MarcarHoraSoapIn" />
      <wsdl:output message="tns:MarcarHoraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InformeEmpleador">
      <wsdl:input message="tns:InformeEmpleadorSoapIn" />
      <wsdl:output message="tns:InformeEmpleadorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarDepartamentos">
      <wsdl:input message="tns:ListarDepartamentosSoapIn" />
      <wsdl:output message="tns:ListarDepartamentosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarEmpleados">
      <wsdl:input message="tns:ListarEmpleadosSoapIn" />
      <wsdl:output message="tns:ListarEmpleadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarJefes">
      <wsdl:input message="tns:ListarJefesSoapIn" />
      <wsdl:output message="tns:ListarJefesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarRequisicion">
      <wsdl:input message="tns:InsertarRequisicionSoapIn" />
      <wsdl:output message="tns:InsertarRequisicionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerLlamadas">
      <wsdl:input message="tns:ObtenerLlamadasSoapIn" />
      <wsdl:output message="tns:ObtenerLlamadasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTotalFacturaManual">
      <wsdl:input message="tns:ObtenerTotalFacturaManualSoapIn" />
      <wsdl:output message="tns:ObtenerTotalFacturaManualSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PosVersion">
      <wsdl:input message="tns:PosVersionSoapIn" />
      <wsdl:output message="tns:PosVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarPOS">
      <wsdl:input message="tns:ActualizarPOSSoapIn" />
      <wsdl:output message="tns:ActualizarPOSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CodigoArticuloPos">
      <wsdl:input message="tns:CodigoArticuloPosSoapIn" />
      <wsdl:output message="tns:CodigoArticuloPosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Contingencia">
      <wsdl:input message="tns:ContingenciaSoapIn" />
      <wsdl:output message="tns:ContingenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarClientePos">
      <wsdl:input message="tns:InsertarClientePosSoapIn" />
      <wsdl:output message="tns:InsertarClientePosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarTiempoCertificacion">
      <wsdl:input message="tns:InsertarTiempoCertificacionSoapIn" />
      <wsdl:output message="tns:InsertarTiempoCertificacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarAnticipos">
      <wsdl:input message="tns:InsertarAnticiposSoapIn" />
      <wsdl:output message="tns:InsertarAnticiposSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarOrdenesCafe">
      <wsdl:input message="tns:InsertarOrdenesCafeSoapIn" />
      <wsdl:output message="tns:InsertarOrdenesCafeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarOrdenCafeGuarnicion">
      <wsdl:input message="tns:InsertarOrdenCafeGuarnicionSoapIn" />
      <wsdl:output message="tns:InsertarOrdenCafeGuarnicionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PosSoap" type="tns:PosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaldoTienda">
      <soap:operation soapAction="http://tempuri.org/SaldoTienda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerClientesVentas">
      <soap:operation soapAction="http://tempuri.org/ObtenerClientesVentas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertFacturaPosiiVentas">
      <soap:operation soapAction="http://tempuri.org/InsertFacturaPosiiVentas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerFacturasManualesSinCorte">
      <soap:operation soapAction="http://tempuri.org/ObtenerFacturasManualesSinCorte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarCorteFacturaManualMySql">
      <soap:operation soapAction="http://tempuri.org/InsertarCorteFacturaManualMySql" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientePOS">
      <soap:operation soapAction="http://tempuri.org/ClientePOS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResumenVenta">
      <soap:operation soapAction="http://tempuri.org/ResumenVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CuboCliente">
      <soap:operation soapAction="http://tempuri.org/CuboCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LimpiarBD">
      <soap:operation soapAction="http://tempuri.org/LimpiarBD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreditoPersonal">
      <soap:operation soapAction="http://tempuri.org/CreditoPersonal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarDatosNitYFactura">
      <soap:operation soapAction="http://tempuri.org/BuscarDatosNitYFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarClienteNuevo">
      <soap:operation soapAction="http://tempuri.org/InsertarClienteNuevo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarios">
      <soap:operation soapAction="http://tempuri.org/ObtenerUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarcarHora">
      <soap:operation soapAction="http://tempuri.org/MarcarHora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformeEmpleador">
      <soap:operation soapAction="http://tempuri.org/InformeEmpleador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarDepartamentos">
      <soap:operation soapAction="http://tempuri.org/ListarDepartamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEmpleados">
      <soap:operation soapAction="http://tempuri.org/ListarEmpleados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarJefes">
      <soap:operation soapAction="http://tempuri.org/ListarJefes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarRequisicion">
      <soap:operation soapAction="http://tempuri.org/InsertarRequisicion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerLlamadas">
      <soap:operation soapAction="http://tempuri.org/ObtenerLlamadas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTotalFacturaManual">
      <soap:operation soapAction="http://tempuri.org/ObtenerTotalFacturaManual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PosVersion">
      <soap:operation soapAction="http://tempuri.org/PosVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarPOS">
      <soap:operation soapAction="http://tempuri.org/ActualizarPOS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CodigoArticuloPos">
      <soap:operation soapAction="http://tempuri.org/CodigoArticuloPos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contingencia">
      <soap:operation soapAction="http://tempuri.org/Contingencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarClientePos">
      <soap:operation soapAction="http://tempuri.org/InsertarClientePos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarTiempoCertificacion">
      <soap:operation soapAction="http://tempuri.org/InsertarTiempoCertificacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarAnticipos">
      <soap:operation soapAction="http://tempuri.org/InsertarAnticipos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarOrdenesCafe">
      <soap:operation soapAction="http://tempuri.org/InsertarOrdenesCafe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarOrdenCafeGuarnicion">
      <soap:operation soapAction="http://tempuri.org/InsertarOrdenCafeGuarnicion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PosSoap12" type="tns:PosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaldoTienda">
      <soap12:operation soapAction="http://tempuri.org/SaldoTienda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerClientesVentas">
      <soap12:operation soapAction="http://tempuri.org/ObtenerClientesVentas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertFacturaPosiiVentas">
      <soap12:operation soapAction="http://tempuri.org/InsertFacturaPosiiVentas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerFacturasManualesSinCorte">
      <soap12:operation soapAction="http://tempuri.org/ObtenerFacturasManualesSinCorte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarCorteFacturaManualMySql">
      <soap12:operation soapAction="http://tempuri.org/InsertarCorteFacturaManualMySql" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientePOS">
      <soap12:operation soapAction="http://tempuri.org/ClientePOS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResumenVenta">
      <soap12:operation soapAction="http://tempuri.org/ResumenVenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CuboCliente">
      <soap12:operation soapAction="http://tempuri.org/CuboCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LimpiarBD">
      <soap12:operation soapAction="http://tempuri.org/LimpiarBD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreditoPersonal">
      <soap12:operation soapAction="http://tempuri.org/CreditoPersonal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarDatosNitYFactura">
      <soap12:operation soapAction="http://tempuri.org/BuscarDatosNitYFactura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarClienteNuevo">
      <soap12:operation soapAction="http://tempuri.org/InsertarClienteNuevo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarios">
      <soap12:operation soapAction="http://tempuri.org/ObtenerUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarcarHora">
      <soap12:operation soapAction="http://tempuri.org/MarcarHora" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformeEmpleador">
      <soap12:operation soapAction="http://tempuri.org/InformeEmpleador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarDepartamentos">
      <soap12:operation soapAction="http://tempuri.org/ListarDepartamentos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEmpleados">
      <soap12:operation soapAction="http://tempuri.org/ListarEmpleados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarJefes">
      <soap12:operation soapAction="http://tempuri.org/ListarJefes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarRequisicion">
      <soap12:operation soapAction="http://tempuri.org/InsertarRequisicion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerLlamadas">
      <soap12:operation soapAction="http://tempuri.org/ObtenerLlamadas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTotalFacturaManual">
      <soap12:operation soapAction="http://tempuri.org/ObtenerTotalFacturaManual" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PosVersion">
      <soap12:operation soapAction="http://tempuri.org/PosVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarPOS">
      <soap12:operation soapAction="http://tempuri.org/ActualizarPOS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CodigoArticuloPos">
      <soap12:operation soapAction="http://tempuri.org/CodigoArticuloPos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contingencia">
      <soap12:operation soapAction="http://tempuri.org/Contingencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarClientePos">
      <soap12:operation soapAction="http://tempuri.org/InsertarClientePos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarTiempoCertificacion">
      <soap12:operation soapAction="http://tempuri.org/InsertarTiempoCertificacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarAnticipos">
      <soap12:operation soapAction="http://tempuri.org/InsertarAnticipos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarOrdenesCafe">
      <soap12:operation soapAction="http://tempuri.org/InsertarOrdenesCafe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarOrdenCafeGuarnicion">
      <soap12:operation soapAction="http://tempuri.org/InsertarOrdenCafeGuarnicion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Pos">
    <wsdl:port name="PosSoap" binding="tns:PosSoap">
      <soap:address location="https://ws.xelapan.net/pos.asmx" />
    </wsdl:port>
    <wsdl:port name="PosSoap12" binding="tns:PosSoap12">
      <soap12:address location="https://ws.xelapan.net/pos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>